#demo{
  width: 800px;
  height: auto;
  margin: auto;
}
.goodsTable{
  border-collapse:separate;
  border-spacing:0px 0px;
}
.goodsTable thead tr th{
  background: #777;
  line-height: 35px;
  color: #ffffff;
}
.m-b-md {
  margin-bottom: 20px;
}